.container{
    margin-bottom: 50px;
}
.nav-link{
    color: gray;
    font-weight: 600;
}
.background{
    background-image: url("hot-gadgets/bg-2.png");
}
.see{
    color: yellowgreen;
}
.card{
    border: none;
    padding: 50px;
}
.card-footer{
    border-top: none;  
}
.card-footer h5{
    margin-left: 20px;
}

